.clipboard__section-title {
    margin-bottom: 2rem;
}

.clipboard__section p,
.clipboard__section-title {
    text-align: center;
}

.clipboard__section {
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.clipboard__section-customers {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.clipboard__section button {
    margin: 1rem 0 1rem 0;
}

@media(min-width: 1024px) {
    .clipboard__section-presentation .clipboard__section-paragraph {
        width: 60rem;
        line-height: 3rem;
    }
    .clipboard__section {
        width: 100%;
        grid-column: 1 / span 10;
    }
}