.clipboard__header-background {
    background: url(../../assets/images/bg-header-desktop.png);
    background-size: cover;
    background-position: top;
    width: 100vw;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clipboard__header-background .clipboard__section-image {
    width: 15rem;
}

@media(min-width: 738px) {
    .clipboard__header-background {
        background-position: bottom;
    }
}