@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
:root {
    --color-background: ;
    --color-strong-cyan: hsl(171, 66%, 44%);
    --color-light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --background-white: hsl(0, 100%, 100%);
    --font-weight-normal: 400;
    --font-weight-titles: 600;
    --font-default-size: 1.8rem;
    --font-family: 'Bai Jamjuree', sans-serif;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-white);
    color: var(--grayish-blue);
    font: var(--font-weight-normal) 1.8rem var(--font-family);
}

html,
body,
#root {
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-titles);
    color: var(--dark-grayish-blue);
}

p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}