.clipboard__footer {
    background-color: var(--grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__links-item {
    list-style-type: none;
    text-align: center;
    padding: 1rem;
    color: var(--dark-grayish-blue);
}

.clipboard__footer .clipboard__section-image {
    width: 8rem;
}

.footer__address {
    width: 100%;
}

.address__socialMedia {
    display: flex;
    justify-content: space-evenly;
}

.address__socialMedia-item .clipboard__image {
    width: 3rem;
}

@media(min-width: 1024px) {
    .clipboard__footer {
        display: grid;
        justify-content: space-evenly;
        height: 15rem;
    }
    .footer__links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .clipboard__footer .clipboard__image,
    .footer__address {
        margin: 0;
    }
    .clipboard__footer .clipboard__image {
        justify-self: center;
    }
    .footer__address {
        grid-column: 6;
    }
    .address__socialMedia {
        display: flex;
        justify-content: space-evenly;
    }
    .address__socialMedia-item {
        margin-right: 3rem;
    }
    .footer__links-item {
        text-align: left;
    }
}